@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&text=0123456789');

:root {
  --red: #BA191F;
  --white: #FFFFFF;
  --brown: #B78237;
}

main {
  display: flex;
}

.team {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team.red {
  background: var(--red);
  color: var(--white);
}

.team.white {
  background: var(--white);
  color: var(--brown);
}

.score {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10rem;
}
